.ContentSelection {
    padding: 4%;
}

.ContentSelection li {
    list-style-type: none;
}

.ContentSelection h4 {
    font-weight: 400;
}

li {
    padding-bottom: 0.75rem;
}

.ContentSelection h3 {
    margin-bottom: 0;
}